<h1>Portland Craigslist</h1>

<% if @postings.any?%>
  <table class="highlight responsive-table bordered">
    <thead>
      <tr>
        <th>Post ID</th>
        <th>Posted</th>
        <th>Type</th>
        <th>Bedrooms</th>
        <th>Wheelchair</th>
        <th>Address</th>
        <th>Body</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody id="posts">
      <%= render "postings/post" %>
    </tbody>
  </table>
  
  <div id="paginator">
    <%= paginate @postings, remote: true%>
  </div>
<% else %>
  <p>There are no postings to display!</p>
<% end %>
