
<a href="/" class="header_name">HUD Crawler</a>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/postings">Portland</a></li>

  <% if current_user %>
  <li><%= link_to "#{current_user.email}", edit_user_registration_path() %></a></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></a></li>
  <% else %>
    <li><%= link_to "Register", new_user_registration_path %></a></li>
    <li><%= link_to "Sign In", new_user_session_path %></a></li>
  <% end %>
</ul>
