
<h1 class="name" <a href="/">HUD Crawler</a></h1>

<ul class="navigation">
  <li><a href="/">Home</a></li>
  <li><a href="/postings">Portland</a></li>

  <% if current_user %>
  <li><a><%= link_to "#{current_user.email}", edit_user_registration_path() %></a></li>
    <li><a><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></a></li>
  <% else %>
    <li><a><%= link_to "Register", new_user_registration_path %></a></li>
    <li><a><%= link_to "Sign In", new_user_session_path %></a></li>
  <% end %>
</ul>
